body  {
    color: white;
    background:rgb(45, 1, 45);
    margin:0px;
    margin-bottom: 10px;
}

header {

border-bottom:solid 2px rgb(236, 195, 11, 0.861);
padding:3px;
font-size: 30px;
color: rgb(180, 12, 155);
font-family: "Rubik Mono One", monospace;

}

.chamada {

background: rgb(81, 1, 81) ;
padding-bottom: 50px;
display: flex;
justify-content: center;
font-family: "Chakra Petch", sans-serif;
}

.chamada-texto {

margin-right: 5px;

}

h1 {
    font-size: 28px;
}

p{
    font-size: 20px;
}


.categotia-videos {
    
    gap: 15px;

}

.categoria {
    padding-left: 2px;
    padding-right: 3px;
    margin-top: 5px;
}

.categotia-videos img {
    opacity: 0.5;
    height: 120px;
}

.categotia-videos img:hover {
    opacity: 1.0;
    border: 0.5px solid yellow;
}

.categoria h2 {
    color: rgb(142, 20, 142) ;

}
